{% extends 'base.html' %}

{% block title %} Tank Painting Estimate {% endblock %}


{% block body %}
<main>
    <body>
        <h2> VTM Estimator </h2>
        <hr>
        <form action="/estimate" method="post">
            <label for="radius">Tank radius:</label>
            <input type="text" id="radius" name="radius" placeholder="radius in inches" />
            <br />
            <br>
            <label for="height">Tank height:</label>
            <input type="text" id="height" name="height" placeholder="height in inches" />
            <br />
            <br>
            <input type="submit" id="submit" value="Submit" />
            <input type="reset" id="clear" value="Clear" />
        </form>
        <br>
        <h3>The estimate for painting is ${{ estimate }}</h3>
        <br>
    </body>
</main>

{% endblock %}