{% extends 'base.html' %}

{% block title %} Vertical Tank Maintenance {% endblock %}


{% block body %}  
<main>
    <body>
        <h2> Welcome to VTM!</h2>
        <hr>
        <a href="/static/above_ground_vertical_tanks.jpg">
            <img src="/static/above_ground_vertical_tanks.jpg"/>
        </a>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec urna tortor, tincidunt eleifend malesuada ac, tristique non quam. Morbi nulla metus, posuere sit amet nunc in, gravida tincidunt metus. Vivamus tellus lorem, eleifend in pulvinar sed, scelerisque eu ipsum. Nam et est ex. Vestibulum semper eget lectus id viverra. Nullam eleifend enim eget sem congue consectetur. Aliquam tincidunt at nibh non tincidunt. Curabitur efficitur ligula a arcu luctus tincidunt. Quisque ac feugiat mauris, hendrerit sodales lacus."
        </p>
        <br>
    </body>
</main>
{% endblock %}